* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  padding: 0;
  overflow-x: hidden; 
  background-color: aliceblue;   
}

.navbar {
  background-color: #BDB76B;
  padding: 14px 20px;
  margin: -12px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar .nav-link {
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav-link:hover {
  text-decoration: underline;
}

.active {
  background-color: #BC8F8F;   
  padding: 4px 10px;     
  border-radius: 7px;
}

/* useRef Intro */
.focus-btn {
  margin-left: 10px;
}
.play-btn {
  margin-left: 10px;
  margin: 15px 10px;
  display: block;
  background-color: #8FBC8F;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.video {
  width: 250px;
}

/* Referencing Values with Refs */

/* Manipulating the DOM with Refs */
.cat-friends {
  overflow-x: hidden;
}
.cat-nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: absolute;
  /* top: 0; */
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}
.cat-nav button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #8FBC8F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.img-list {
  margin-top: 80px; /* adjust as needed for your nav height */
  list-style: none;
  padding: 0;
}

.img-list, .img-list li {
  list-style: none;
  white-space: nowrap;
}

.img-list li {
  display: inline;
  padding: 0.5rem;
}

.todo-list-container {
  margin-top: 20px;
}